{% extends "base.html" %}

{% block title %}radiowut: Personalized New Releases{% endblock %}

{% block head_extra %}
<meta name="robots" content="noindex, follow">

{# TODO: make this not suck super bad #}
<style>
.album-button {
    padding:10px;
    margin:0 10px 15px 0;
}
.album-button p {
    margin:0;
    padding:0;
}

@media (max-width: 768px) {
    #albums {
        width: 515px;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    #albums {
        width: 260px;
        margin: 0 auto;
    }
}


@media (min-width: 768px) and (max-width: 980px) {
    #albums {
        width: 720px;
        margin-left: 8px;
    }
    .album-button {
        margin:0 5px 15px 0;
        padding:10px 5px;
    }
}
@media (min-width: 980px) and (max-width: 1200px) {
    #albums {
        width: 930px;
        margin-left: 10px;
    }
    .album-button {
        margin:0 10px 15px 0;
        padding:10px 0;
    }
    .album-button p {
        margin:0 10px;
    }
}

@media (min-width: 1200px) {
    #albums {
        width: 1160px;
        margin-left: 10px;
    }
    .album-button {
        padding:10px 0;
        margin:0 10px 15px 0;
    }
    .album-button p {
        margin:0 10px;
    }
}

.album-button {
    width:220px;
    height:300px;
    text-align:center;
    float:left;
    overflow-y:auto;
    background-color:#fafafa;
    -webkit-transition: border 0.1s linear;
    -moz-transition: border 0.1s linear;
    -ms-transition: border 0.1s linear;
    -o-transition: border 0.1s linear;
    transition: border 0.1s linear;
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    -ms-transition: background 0.1s linear;
    -o-transition: background 0.1s linear;
    transition: background 0.1s linear;
}
.album-button:hover {
    background-color:#f1f1f1;
    border: 1px solid #999;
    -webkit-transition: border 0.1s linear;
    -moz-transition: border 0.1s linear;
    -ms-transition: border 0.1s linear;
    -o-transition: border 0.1s linear;
    transition: border 0.1s linear;
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    -ms-transition: background 0.1s linear;
    -o-transition: background 0.1s linear;
    transition: background 0.1s linear;
}
.album-button img {
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    -ms-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
    opacity:.9;
    filter:alpha(opacity = 90);
}
.album-button:hover img {
    -webkit-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    -ms-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
    opacity:1;
    filter:alpha(opacity = 100);
}
</style>
{% endblock %}

{% block content %}
<h1>Personalized New Releases</h1>
<p>New releases (past two weeks) for the artists in
   <b><a href="http://www.rdio.com/people/{{ username }}/">{{ username }}</a></b>'s
   <a href="http://www.rdio.com/people/{{ username }}/collection/">collection</a>:</p>

<hr>

<div id="albums">
{% for release in user_new_releases %}
<div class="album-button well">
    <a href="http://www.rdio.com{{ release['url'] }}"><img src="{{ release['icon'] }}" alt="{{ release['name'] }} album cover"/></a><br>
    <p>
    <a href="http://www.rdio.com{{ release['url'] }}"><b>{{ release['name'] }}</b></a><br>
    <a href="http://www.rdio.com{{ release['artistUrl'] }}"><i>{{ release['artist'] }}</i></a><br>
    Released {{ release['displayDate'] }}
    </p>
</div>
{% endfor %}
</div>

<br style="clear:both">
{% endblock %}
